/* styles.css */

:root {
    --squares: 0;
    --max-width: calc(750px/var(--squares));
}

.button-container {
    text-align: center;
    padding: 10px 0;
}

.grid-container {
    display: grid;
    grid-template-rows: repeat(var(--squares), var(--max-width));
    grid-template-columns: repeat(var(--squares), var(--max-width));
    grid-auto-rows: 200px;
    padding: 0 570px;
}

.grid-item {
    border: solid;
    background-color: white;
}